.profile {
  margin-top: 1em;
}

.user-profile .picture {
  width: 200px;
  border-radius: 5px;
}
.info .user img {
  width: 20px;
  border-radius: 3px;
}
.user-profile ul {
  padding: 0;
  margin-top: .6em;
}

.user-profile ul li {
  list-style: none;
}
