{% extends 'base.html' %}

{% load i18n static %}

{% block title %}{% trans 'Find Recipe' %}{% endblock %}

{% block head %}
  <link href="{% static 'css/jquery.Jcrop.min.css' %}" rel="stylesheet">
  <script src="{% static 'js/jquery.Jcrop.min.js' %}"></script>
  <script src="{% static 'js/picture.js' %}"></script>
{% endblock head %}

{% block main %}
  <div class="page-header">
    <h1>{% trans 'Find Recipe' %}</h1>
  </div>
  <div class="row" style="margin-top: 2em">
    <div class="col-md-3">
      
    </div>
    <div class="col-md-9">
      
      <h3 style="margin-top: 0">{% trans 'Upload Picture' %}</h3>
      <img src="{{ user.profile.get_picture }}" style="width: 150px; border-radius: 5px; margin-bottom: 1em;">
      <ul>
       {% for l in label %}
         <li><span>{{ l }}</span></li> 
       {% empty %}
          <h4 class="no-data">{% trans 'There is no published label yet' %}.</h4>
       {% endfor %}
      </ul>
    </div>
  </div>
{% endblock main %}
